body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212227;
    color: white;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none;
    color: #E7F9A9;
}

a:hover {
    color: #B7E510;
}

.info {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.repo {
    background-color: #71797E;
    min-width: 30rem;
    min-height: 10rem;
    max-width: 50rem;
    max-height: 30rem;
    display: grid;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
}

.profilePicture {
    border-radius: 100px;
    height: 200px;
    width: 200px;
    margin-bottom: 2rem;
}

.repoName {
    display: flex;
    align-self:flex-start;
}

.repoDesc {
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;
}

.repoDetails {
    align-self: flex-end;
    justify-self: flex-end;
}

.loaderContent {
    width: 100vw;
    height: 100vh;
    background: #212227;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.hidden {
    opacity: 0;
}

.spinner {
    
}
